@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply w-screen h-screen flex flex-col bg-base-100;
  background-image: radial-gradient(
    100vw,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.3)
  );
  user-select: none;
  cursor: default;
}
